{"openapi":"3.0.0","info":{"version":"1.3.35","title":"Versapay API Reference","contact":{"name":"Versapay Support","url":"https://www.versapay.com/support","email":"support@versapay.com"},"x-logo":{"url":"https://developers.versapay.com/images/logo.png"},"termsOfService":"https://www.versapay.com/terms-of-use","license":{"name":"Copyright 2022 Versapay. All Rights Reserved."}},"servers":[{"url":"https://secure.versapay.com","description":"Production"},{"url":"https://uat.versapay.com","description":"UAT"}],"tags":[{"name":"Overview","description":"The Versapay API offers operations in support of its flagship products:\n* Collaborative AR (formerly ARC) - accounts receivable platform with automated invoicing, effective collaboration, flexible payments and cash application to improve efficiency and customer relationships.\n\n  * Importing & exporting customers, invoices, and payments.\n\n  * Monitoring file based imports/batches.\n\n  * Importing & exporting orders and processing order based payment transactions.\n\n  * Ecommerce integrations.\n\n  * Moving funds using transactions and pre-authorized debit agreements.\n\n  * A secure hosted checkout for accepting payments through your website or email.\n\nPlease contact us at support@versapay.com for support & setup of A/R invoicing integration, hosted checkout, and/or payment acceptance.\n"},{"name":"Versioning & Compatibility","description":"The current API version is `Versapay API Reference (1.3.35)`.\n\nVersapay commits to maintaining backward compatibility and existing API endpoints with each released version updating existing endpoints and/or introducing new endpoints.\n\nShould Versapay require deprecation of a published API, Versapay will work with its API clients/users to confirm specific EOL/migration timelines with ample lead times, as well as endpoint migration strategies.\n"},{"name":"Environments","description":"The UAT environment is a useful sandbox for integration testing where transaction settlements are simulated using test account numbers and test dollar amounts.\n\n`https://uat.versapay.com`\n\nOnce integration testing is complete via the UAT environment, start sending your requests to the production URL to start moving money and/or integrating with Versapay.\n\n`https://secure.versapay.com`\n"},{"name":"Rate Limits","description":"The standard rate limit is 1500 requests per minute per IP address, but Versapay reserves the right to raise or lower that limit based on network conditions. When the rate limit is exceeded, APIs will return error `HTTP 1015 you are being rate limited`. Partner- or customer-specific rate limits can be established by special agreement.\n"},{"name":"Authentication","description":"Visit your account settings in `UAT` (https://uat.versapay.com/account) or `Production` (https://secure.versapay.com/account) to setup API credentials needed for authentication as well as webhooks to receive relevant callbacks from Versapay transaction processing.\n\nYou can generate/disable your API credentials as often as necessary for security reasons.\n\nIf you do not have an account, please contact Versapay Support for support & setup of AR invoicing integration, hosted checkout and/or payment acceptance for partner and/or API credential setup.\n\n## API Token and API Key\nAPI requests are authenticated using `API Token & Key` via [HTTPS Basic Access Authentication](https://en.wikipedia.org/wiki/Basic_access_authentication). <table class=\"security-details\"><tbody><tr><th> Security Scheme Type </th><td> <!-- -->HTTPS<!-- --> </td></tr><tr><th> HTTPS Authorization Scheme </th><td> <!-- -->basic<!-- --> </td></tr></tbody></table>\n\nSimply provide the `API Token & Key` values as the `user` and `password` parameters, using cURL for instance:\n\n`curl -u \"Nvax...:UN0I...\" -X POST https://secure.versapay.com/api/...`\n\n## JWT Token\nAlternatively, API requests can also be authenticated using `JWT Token` via [HTTPS Bearer Authentication](https://en.wikipedia.org/wiki/JSON_Web_Token). <table class=\"security-details\"><tbody><tr><th> Security Scheme Type </th><td> <!-- -->HTTPS<!-- --> </td></tr><tr><th> HTTP Authorization Scheme </th><td> <!-- -->bearer JWT<!-- --> </td></tr></tbody></table>\n`JWT Tokens`, automatically generated alongside `API Token & Key`, are displayed along with expiration in account settings as well as via authenticated `/api/whoami`, see `Authentication` _Echo identity and account profile settings_\n\nSimply provide the `JWT Token` in the authorization header, using cURL for instance:\n\n`curl -H \"Authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ0b2tlbiI6Im54eDFaSjgzeXRNNmhtb3NGVExCIiwiZXhwIjoxNzEyOTU5NDA5fQ.adV6U1vW69Ypskt61uPL8hZ-4muvtM4FLM48QN6iCc4\" -X POST https://secure.versapay.com/api/...`\n"},{"name":"Testing Order Transactions","description":"In the uat environment, the following test account numbers can be used provided your account has been setup for payment acceptance.\nPlease contact support@versapay.com for support & setup questions related to payment acceptance.\n\n## ACH Bank Account Numbers\n|Routing|Number|\n|:--|:--|\n| 122105278 | 0000000016 |\n\n## Credit Card Numbers\nAny future dated expiry month/year for the following:\n\n|Brand|Number|\n|:--|:--|\n| Visa | 4895281000000006 |\n| Visa | 4264280001234500 (will always decline) |\n| Mastercard | 5541032000004422 |\n| Discover | 6011000990911111 |\n| American Express (Amex) | 341111597242000 |\n\nThe following CVV values can be used to test CVV reponse codes:\n\n|CVV|Code|Description|\n|:--|:--|:--|\n| 123 | P | Not Processed |\n| 234 | M | Match |\n| 345 | N | No Match |\n| 456 | S | CVV value should be on the card but the merchant has indicated that it is not present |\n| 567 | U | Issuer not certified for CVV processing |\n| 6789 (Amex) | M | Match |\n| 1011 (Amex) | N | No Match |\n| 1213 (Amex) | P | Not Processed |\n| Any other number | M | Match |\n\nThe following address values can be used to test AVS reponse codes:\n\n|Postal/Zip|Address|Code|Response|\n|:--|:--|:--|:--|\n| 80801 | 234 Elm Street | A | Address match; zip no match |\n| 80802 | 234 Elm Street | G | Global non-AVS participant |\n| 80803 | 234 Elm Street | N | Address and zip do not match |\n| 80804 | 234 Elm Street | R | System unavailable or timed out |\n| 80805 | 234 Elm Street | S | Service not supported: Issuer does not support AVS and Visa |\n| 80806 | 234 Elm Street | U | Unavailable: Address information not verified for domestic transactions |\n| 808000000 | 234 Elm Street | W | 9-digit zip matches; address does not match |\n| 808000000 | 234 Elm Street | X | 9-digit zip and address match |\n| 80809 | 234 Elm Street | Y | 5-digit zip and address match |\n| 80810 | 234 Elm Street | Z | 5-digit zip matches; address does not match |\n| 80815 | 234 Elm Street | I | Address information not verified for international transaction |\n| 80818 | 234 Elm Street | E | AVS service not supported |\n| K1A0A9 | 234 Elm Street | D | Zip and address match (International) |\n| L6Y2N4 | 234 Elm Street | M | Zip and address match (International) |\n| K0K2T0 | 234 Elm Street | P | Zip matches; address not verified because of incompatible formats |\n| Any other zip | Any other address | Y | 5-digit zip and address match |\n\n## Declines\nThe number of cents in the transaction amount can trigger a decline response in UAT.\nIf the transaction amount ends in `.01` (e.g., $1.01 or $40.01), the transaction will decline.\nIf a `void` transaction amount ends in `.02` (e.g., $1.02 or $40.02), the `void` transaction will decline.\n"},{"name":"Watermark & Limit","description":"The API offers polling based endpoints to supplement/alternative to webhook integration. The requisite GET endpoints for customer, invoice, payment, and settlement reporting accept a \"watermark\" option to ensure that data more recent than the provided watermark is retrieved.\n\nThey also support a limit argument, which defaults to 100 items -- and are capped up to 2500 for performance reasons. Otherwise, the limit can be used to draw 1-2500 items at a time depending on the integrators need and performance boundaries.\n\nThe watermark & limit are specified as part of the API call e.g. ` GET /api/exports/open_invoices?watermark=13207500&limit=5`\n\nThe watermark is typically an 8-byte integer unless otherwise specified. The limit is an integer between 1 and 2500.\n\n## API Response Structure\n\nThe general response structure of these API are an ordered hash of records, whose key/index is a watermark value.\n\nThe iteration pattern would be, for instance:\n\n```ruby\nlast_watermark = 0\njson = GET /api/...?watermark={last_watermark}\nfor each watermark_key in json.keys\n\n  record = json[watermark_key]\n\n  last_watermark = watermark_key if watermark_key > last_watermark\n\n```\nOtherwise, an API response may be a flat array list, where the watermark value is a key in the array item record, just the same:\n\n```ruby\nlast_watermark = 0\njson = GET /api/...?watermark={last_watermark}\nfor each record in json\n\n  watermark_key = record[\"watermark\"]\n\n  last_watermark = watermark_key if watermark_key > last_watermark\n\n```\nThe last watermark key (or last watermark attribute where echo'd on a record) in the result set can be used as the argument to the next call e.g.\n- `GET /api/exports/open_invoices`\n- `GET /api/exports/open_invoices?limit=2`\n- `GET /api/exports/open_invoices?watermark=13207500&limit=7`\n\n## API Response Structure - Flat Array List of Records\n\nThe flat array list response structure can be explicitly requested via `list=true` URL argument.\n"},{"name":"Ecommerce Integration","description":"The Versapay e-commerce solution is composed of several components. First, is a server-side API that allows your application to configure a new payment session, manage customer wallets, create orders, and initiate payments. In addition, there is a client-side JavaScript SDK that enables your web application to accept secure payment data via an iframe hosted by Versapay. Your sensitive payment data will not transit your application when you use the iframe, so your application will have a reduced PCI scope.\n\nIn order to accept a payment, the general flow is to first create a session using the server-side API. Once a session ID has been generated by the Versapay server and returned to your application, your client-side code can use that session ID to initialize the Versapay payment SDK, which will, in turn, render the iframe. Next, the customer will interact with the iframe to specify a payment method. The SDK will return a token representing that payment method to your client-side code. Your client-side code must return the token to your server-side code, which will then use the original session ID and the token to create an order and take a payment. Finally, your ERP or order fulfillment system will query the Versapay cloud platform for new orders so that they may be created and fulfilled via your standard workflow.\n\nFor more information see [Ecommerce API](https://developers.versapay.com/ecommerce).\n"},{"name":"Onboarding","description":"Onboarding supports the automated process of applying for merchant services. Contact support@versapay.com for support & setup of supplier onboarding partner credentials.\n"},{"name":"Wallets","description":"The Wallet entity holds vaulted & secured payment methods owned by a customer (buyer/payor) that can be used to make payments via Collaborative AR (online Portals, AutoPay, Pay Now), Order Transactions (Ecomm & ERP based suppliers), and Invoicing Payments (via Partner buyer networks including Virtual Card Connect). Contact support@versapay.com for support & setup for Wallet access and payment transaction enablement in relation to licensed product components.\n"},{"name":"Orders","description":"The Order entity represents the sales document in the ERP system. The fields in the ERP system should be aligned as closely as possible with the fields in the order entity, as the gateway will use these fields for credit card interchange optimization. Contact support@versapay.com for support & setup for Order and/or Order Transactions enablement.\n"},{"name":"Order Transactions","description":"Order-based card/ACH and card present EMV payment transactions include verify, authorize, capture, sale, void, return refund, and return credit transaction types. If participating in a gift card program, gift cards can be used in sale, void, refund transaction types. Contact support@versapay.com for support & setup for Order Transactions enablement.\n## Credit Card Payments\nThere are two types of credit card payments: sale and delayed capture. Sale payments occur when the merchant wishes to accept a payment for goods or services that have already been shipped or provided to the cardholder. A sale is a financial transaction, and the movement of funds will be initiated in response to a sale request. Delayed capture payments are used when there is a separation between accepting an order and fulfilling that order. With delayed capture, the credit card is first authorized for the estimated order total. The authorization reserves funds on the cardholder’s account for the merchant but does not initiate a movement of funds. Once the products or services are ready to be delivered to the cardholder, the authorization is captured for the final amount. The capture request initiates the movement of funds.\n## ACH Payments\nACH payments are bank-to-bank transfers of funds. Unlike credit card payments, ACH payments only have one type – sale, and there is no prior authorization. Therefore, sale amounts are final and cannot be adjusted after the fact. ACH payments assume success, and if there is a problem with the funding source, like with a bounced paper check, the originator will be notified of a rejection several days after the payment attempt.\n## EFT Payments\nEFT payments are bank-to-bank transfers of funds. Unlike credit card payments, EFT payments only have one type – sale, and there is no prior authorization. Therefore, sale amounts are final and cannot be adjusted after the fact. EFT payments assume success, and if there is a problem with the funding source, like with a bounced paper check, the originator will be notified of a rejection several days after the payment attempt.\n## Gift Card Payments\nProvisioned gift cards can be activated/enabled (or deactivated/disabled) as well as have their balances loaded/re-loaded with an amount. Contact support@versapay.com for support & setup for Gift Card acceptance.\n## Point-of-Sale/Card Present EMV Payments\nCard Present EMV payment transactions require a Versapay certified point-of-sale terminal. In addition to the card not present transaction types, the following payment transaction types are also supported: device setup, request signature, and cancel. Contact support@versapay.com for support & setup for POS/CP EMV enablement.\n"},{"name":"Gift Cards","description":"Provisioned gift cards can be activated/enabled (or deactivated/disabled) as well as have their balances loaded/re-loaded with an amount. Contact support@versapay.com for support & setup for Gift Card acceptance.\n"},{"name":"Card Present EMV","description":"Card Present EMV payment transactions require a Versapay certified point-of-sale terminal. Contact support@versapay.com for support & setup for POS/CP EMV enablement.\n"},{"name":"Reference Data","description":"For convenience purposes only, Versapay can supply third party reference data to its partners and users. This data can be used to implement client-side tooling (e.g., fraud mitigation services), but it may not be redistributed. The accuracy and completeness of this third party data cannot be guaranteed and is for informational and convenience purposes only. Contact support@versapay.com for eligibility for reference data enablement.\n"},{"name":"Settlement Reporting","description":"Settlement Reporting includes retrieval of monthly statements, daily deposit amounts (including fee information), transaction exceptions (ACH reject/return & CC chargeback), and transaction details. Contact support@versapay.com for payment acceptance onboarding support & setup and eligibility for Settlement Reporting enablement.\n"},{"name":"Autopay","description":"\nAutopays are a digital analog to paper pre-authorized debit agreements that businesses could use, for instance, for monthly billing.\n"},{"name":"Customers","description":"As a supplier your customers are the entities that are invoiced.\n\n## Webhooks\n\nWhen using Webhooks, your application will be notified when key events are triggered for a customer.\n"},{"name":"Invoices","description":"As a supplier invoices are your receivables.\n\n## Webhooks\n\nWhen using Webhooks, your application will be notified when key events are triggered for an invoice.\n"},{"name":"Invoicing Payments","description":"As a supplier a payments are made by customers for invoices issued to them.\n\n## Webhooks\n\nWhen using Webhooks, your application will be notified when key events are triggered for a payment.\n"},{"name":"Divisions","description":"As a supplier divisions are used to group your invoices.\n"},{"name":"Notifications","description":"As a supplier you can notify customers about their invoices.\n"},{"name":"Collaboration","description":"As a supplier your customers collaborate with you through comments about invoices and/or payments.\n"},{"name":"File Imports","description":"As a supplier you can upload customer, invoice, and payment data in CSV file formats.\n"},{"name":"Webhooks","description":"Versapay uses the [Webhook](http://www.webhooks.org/) pattern to POST updates to a HTTP (port 80) or HTTPS (port 443) URL you specify.\n\n## HTTP Acknowledgement\n\nThe specified URL must return a status code of 200 otherwise Versapay will continue attempting to deliver the POST up to a system defined number of attempts.\n\n## Idempotency\n\nA webhook consumer must be idempotent in receiving replayed/duplicated webhook payload transmissions which may arise as a result of subscription configuration and event timing and/or retry scenarios.\n\n## Viewing Portal\n\nYou can view details for the latest notifications sent to your application by visiting `/developers/webhook_responses` in [uat](https://uat.versapay.com//developers/webhook_responses) or [production](https://secure.versapay.com//developers/webhook_responses).\n\n## Entity Payloads\nWebhooks can receive updates for the following `Collaborative AR` entities:\n\n* Recent events for any **Customer** part of your supplier account. The request parameters will contain the same attributes as returned by viewing a customer via `GET /api/exports/customer/{identifier}`.\n\n* Recent events for any **Invoice** part of your supplier account. The request parameters will contain the same attributes as returned by viewing an invoice via `GET /api/exports/invoice/{number_or_id}`.\n\n* Recent events for any **Payment** part of your supplier account. The request parameters will contain the same attributes as returned by viewing a payment via `GET /api/exports/payment/{reference_or_token}`.\n\n## HMAC Signatures for Collaborative AR\n\nVersapay will send a [HMAC-SHA256](https://en.wikipedia.org/wiki/HMAC) signature attribute to all webhook notification request headers under the key `X-Versapay-Signature`\n\nTo verify the authenticity of received webhook notifications:\n\n1. Calculate the HMAC-SHA256 of the JSON request body using your Versapay signing key (which is displayed on your webhook account settings) and Base64 the result.\n2. URL Encode the HMAC and compare the result to the value of the original signature found in the request header\n\n```javascript\n/* Example of HMAC-SHA256 signature calculation - using JavaScript/Express our POST payload is accessible via req.body */\nconst express = require('express');\nconst bodyParser = require('body-parser');\nconst crypto = require('crypto');\nconst app = express();\n\napp.use(bodyParser.json());\napp.use(bodyParser.urlencoded({ extended: true }));\n\napp.post('/webhook', (req, res) => {\n  let original_signature = req.headers['x-versapay-signature'];\n  let webhook_signing_key = 'v7aJHjbbxASKiwDW5wq6';\n  let raw_request_body = JSON.stringify(req.body);\n  let hmac = crypto.createHmac('sha256', webhook_signing_key).update(raw_request_body).digest('base64');\n  let expected_signature = encodeURIComponent(hmac + \"\\n\")\n  console.log(`original signature: ${original_signature}`);\n  console.log(`expected signature: ${expected_signature}`);\n  console.log(`authentic? ${expected_signature === original_signature}`);\n});\n```\n","x-traitTag":true}],"x-tagGroups":[{"name":"Versapay API","description":"Introduction to the Versapay API.","tags":["Overview","Versioning & Compatibility","Environments","Rate Limits","Authentication","Webhooks","Watermark & Limit"]},{"name":"Collaborative AR","description":"Operations available for Collaborative AR integration.","tags":["Reference Data","Onboarding","Ecommerce Integration","Orders","Order Transactions","Testing Order Transactions","Gift Cards","Card Present EMV","Settlement Reporting","Wallets","Customers","Invoices","Autopay","Invoicing Payments","Divisions","Notifications","Collaboration","File Imports"]}],"paths":{"/api/whoami":{"get":{"tags":["Authentication"],"summary":"Echo identity and account profile settings","description":"Lists key account profile settings configured for the authenticated account\n","parameters":[{"name":"options[jwt_expiry]","in":"query","description":"Number of days (1-365) until JWT expiration, default 30.","schema":{"type":"integer"}}],"operationId":"whoami","responses":{"200":{"description":"Successful Operation","content":{"application/json":{"schema":{"type":"object","properties":{"whoami":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/Whoami"}}}},"examples":{"whoamis":{"value":{"whoami":{"XbkkoXbkKOXbkKoXBkkOO":{"token":"2ABCDEFFF2ABC","name":"CDS Client UAT","sender_identifier":"cdscliuat","jwt":"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ0b2tlbiI6Im54eDFaSjgzeXRNNmhtb3NGVExCIiwiZXhwIjoxNzEyOTU5NDA5fQ.adV6U1vW69Ypskt61uPL8hZ-4muvtM4FLM48QN6iCc4","jwt_exp":1712959409,"currency":"usd","preferred_language":"en","business_number":"333-222-3000","address_1":"PO Box 2840","address_2":"","postal_code":"76902","city":"San Angelo","province":"TX","country":"US","branding_partner":null,"branding_partner_config":null,"external_link":"xyz123abc789","divisions":[{"division_code":"AcmeTX","division_name":"Acme Texas","parent_code":"Acme Global","company_name":"Acme Texas Division","address":{"address_1":"123 Main St","address_2":"Suite 100","postal_code":"45123","city":"Dallas","province":"TX","country":"US"}},{"division_code":"AcmeON","division_name":"Acme Ontario","parent_code":"Acme Global","company_name":"Acme Ontario Division","address":{"address_1":"123 North Ave","address_2":"Suite N","postal_code":"M4B2J8","city":"Toronto","province":"ON","country":"CA"}},{"division_code":"AcmeCO","division_name":"Acme Colorado","parent_code":null,"company_name":null,"address":{"address_1":null,"address_2":null,"postal_code":null,"city":null,"province":null,"country":null}},{"division_code":"AcmeCA","division_name":"Acme California","parent_code":null,"company_name":"Acme Calif Division","address":{"address_1":"100 Oak Ave","address_2":null,"postal_code":"89001","city":"San Diego","province":"CA","country":"US"}}],"merchant_accounts":[{"token":"MA28S4KCJLAJ","acceptable_cards":["master","visa","american_express","discover"],"deposit_accounts":[{"purpose":"primary","deposit_account_routing_number":"678","deposit_account_masked_number":"XX7888","deposit_routing_account_hash_function":"sha-1","deposit_routing_account_hash":"64984fa69d3aaeb30f77407bb08ada8e6dcfcf41"},{"purpose":"fees","deposit_account_routing_number":"555","deposit_account_masked_number":"XX5555","deposit_routing_account_hash_function":"sha-1","deposit_routing_account_hash":"64984fa69d3aaeb30f77407bb08ada8e6dcfcf55"}],"currency":"usd","deposit_account_routing_number":"031201360","nickname":"settlement","gl_account":null,"reference_token":"1234321:2024-09-01T08:27:45","mid":null,"tid":null,"is_default":true,"deposit_account_masked_number":"XXX4567","deposit_routing_account_hash_function":"sha-1","deposit_routing_account_hash":"cb0f864628972ad90dc08ed44e1099c7005936ca"},{"token":"MA7NLMGDG9F4","acceptable_cards":["master","visa","american_express","discover"],"deposit_accounts":[{"purpose":"primary","deposit_account_routing_number":"678","deposit_account_masked_number":"XX7888","deposit_routing_account_hash_function":"sha-1","deposit_routing_account_hash":"64984fa69d3aaeb30f77407bb08ada8e6dcfcf41"},{"purpose":"fees","deposit_account_routing_number":"555","deposit_account_masked_number":"XX5555","deposit_routing_account_hash_function":"sha-1","deposit_routing_account_hash":"64984fa69d3aaeb30f77407bb08ada8e6dcfcf55"}],"currency":"usd","deposit_account_routing_number":"031201360","nickname":"settlement-2","gl_account":null,"reference_token":"1234321:2024-09-02T06:14:33","mid":null,"tid":null,"is_default":true,"deposit_account_masked_number":"XXX4568","deposit_routing_account_hash_function":"sha-1","deposit_routing_account_hash":"52dfefa6082a07eb1689b40b99686690d1995e58"},{"token":"MA1F8B2E87AM","acceptable_cards":["master","visa","american_express","discover"],"deposit_accounts":[{"purpose":"primary","deposit_account_routing_number":"678","deposit_account_masked_number":"XX7888","deposit_routing_account_hash_function":"sha-1","deposit_routing_account_hash":"64984fa69d3aaeb30f77407bb08ada8e6dcfcf41"},{"purpose":"fees","deposit_account_routing_number":"555","deposit_account_masked_number":"XX5555","deposit_routing_account_hash_function":"sha-1","deposit_routing_account_hash":"64984fa69d3aaeb30f77407bb08ada8e6dcfcf55"}],"currency":"usd","deposit_account_routing_number":null,"nickname":null,"gl_account":null,"reference_token":null,"mid":null,"tid":null,"is_default":false,"deposit_account_masked_number":"","deposit_routing_account_hash_function":"sha-1","deposit_routing_account_hash":"da39a3ee5e6b4b0d3255bfef95601890afd80709"}],"settlement_bank_accounts":[{"routing_number":"122105278","token":"BA9DZBGGJGY1","account_type":"checking","currency":"usd","nickname":null,"reference_token":"1234321:2024-09-01T08:27:45","masked_account_number":"XXXXX6789","routing_account_hash_function":"sha-1","routing_account_hash":"95d63eb2e03b71d1971884ec9678bcf74623b2bf","is_default":true,"address":{"address_1":"","address_2":"","city":"","province":null,"postal_code":"","country":"US"}},{"routing_number":"122000247","token":"BA7QBIQMUMQB","account_type":"checking","currency":"usd","nickname":null,"reference_token":"1234321:2024-09-02T06:14:33","masked_account_number":"XXXXXX1152","routing_account_hash_function":"sha-1","routing_account_hash":"384516d914a878c8280b132d22e567dc64e67676","is_default":false,"address":{"address_1":"","address_2":"","city":"","province":null,"postal_code":"","country":"US"}},{"routing_number":"999999999","token":"BA9K62MMRTSS","account_type":"checking","currency":"usd","nickname":null,"reference_token":null,"masked_account_number":"XXXXX9999","routing_account_hash_function":"sha-1","routing_account_hash":"6cbe786bc66848acf8a3e539e0899809059af8a5","is_default":false,"address":{"address_1":"501 S 8th St","address_2":"","city":"Minneapolis","province":"MN","postal_code":"55404","country":"US"}}],"terminal_processors":[{"currency":"usd","token":"POS47JAV3VDE","deposit_account_routing_number":"00351234","nickname":"usdnick","gl_account":"76001","mid":"1452323678","tid":"4","is_default":true,"deposit_account_masked_number":"XXXX4567","deposit_routing_account_hash_function":"sha-1","deposit_routing_account_hash":"da39a3ee5e6b4b0d3255bfef95601890afd80709"},{"currency":"cad","token":"POS47JAV7TGU","deposit_account_routing_number":"00354321","nickname":"cadnick","gl_account":"76003","mid":"1452343565","tid":"7","is_default":true,"deposit_account_masked_number":"XXXX9876","deposit_routing_account_hash_function":"sha-1","deposit_routing_account_hash":"eced46533e6abaa907cd125fb91dcf76026fa02c"},{"currency":"eur","token":"POS6RPXDYYYU","deposit_account_routing_number":"000000000","nickname":"eurnick","gl_account":"76002","mid":"1452343564","tid":"9","is_default":true,"deposit_account_masked_number":"XXXX5678","deposit_routing_account_hash_function":"sha-1","deposit_routing_account_hash":"a8105df0a9f85df19b125f4a8b4d4ea282f706af"}],"gift_cards":[{"currency":"eur","token":"GCP8IGHJIWM8","deposit_account_routing_number":"000000000","nickname":"","gl_account":"","mid":"","tid":"","is_default":true,"deposit_account_masked_number":"","deposit_routing_account_hash_function":"sha-1","deposit_routing_account_hash":""},{"currency":"usd","token":"GCP2I57ZLEDY","deposit_account_routing_number":"","nickname":"","gl_account":"","mid":"","tid":"","is_default":true,"deposit_account_masked_number":"","deposit_routing_account_hash_function":"sha-1","deposit_routing_account_hash":""},{"currency":"cad","token":"GCP2I57Z3ZSB","deposit_account_routing_number":"","nickname":"","gl_account":"","mid":"","tid":"","is_default":true,"deposit_account_masked_number":"","deposit_routing_account_hash_function":"sha-1","deposit_routing_account_hash":""}],"autopay_api_enabled":false,"arc_payment_match_mode":"off","erp_payment_match_mode":"on","external_payment_match_mode":"off","erp_payment_auto_match_mode":false,"external_payment_auto_match_mode":false}}}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"}}}},"/api/onboarding/v1/terms":{"get":{"tags":["Onboarding"],"summary":"Retrieves rates and terms for merchant services","operationId":"getTerms","description":"The system will return the rates, terms, and conditions for merchant services\n","parameters":[{"in":"query","name":"locale","description":"pass an optional country and language","required":false,"schema":{"$ref":"#/components/schemas/Locale"}}],"responses":{"200":{"description":"terms parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationParameters"}}}},"400":{"description":"bad input parameter"}}}},"/api/onboarding/v1/applications":{"post":{"tags":["Onboarding"],"summary":"Create a new application","operationId":"addApplication","description":"Adds an application to the system","responses":{"201":{"description":"application created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationCreatedResponse"}}}},"400":{"description":"invalid input, object invalid","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationErrorResponse"}}}},"409":{"description":"an existing item already exists"}},"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Application"}}},"description":"Inventory item to add"}}},"/api/onboarding/v1/applications/{id}":{"get":{"tags":["Onboarding"],"summary":"Get application status","operationId":"getApplicationStatus","description":"Get the status of an existing application","parameters":[{"name":"id","in":"path","description":"Application Token","required":true,"schema":{"$ref":"#/components/schemas/ApplicationToken"}}],"responses":{"200":{"description":"application status","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationStatusResponse"}}}},"404":{"description":"application not found"}}}},"/api/onboarding/v1/applications/search/{id}":{"get":{"tags":["Onboarding"],"summary":"Find the application token of an existing application","operationId":"getApplicationToken","description":"Find the application token of an existing applications using the reference token supplied during the create application process","parameters":[{"name":"id","in":"path","description":"Reference Token","required":true,"schema":{"$ref":"#/components/schemas/ReferenceToken"}}],"responses":{"200":{"description":"application token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationCreatedResponse"}}}},"404":{"description":"application not found"}}}},"/api/onboarding/v1/application_steps":{"post":{"tags":["Onboarding"],"summary":"Record a Completed Step of a Merchant Application","operationId":"addApplicationSteps","description":"Record a completed step of the merchant application process as an integer value. A value of 99 indicates the submission of the full application.","responses":{"201":{"description":"Created (record was inserted successfully)"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["reference_token","step_number","message"],"properties":{"reference_token":{"type":"string","format":"guid","example":"7654321:2023-10-04T14:52:37","description":"Specify a unique GUID as a client reference to the application. This same reference_token is used for all steps of the same application.","maxLength":36},"step_number":{"type":"integer","description":"Use values 1,2,3… to indicate steps of the process; 99 indicates the final step of the application","example":"1"},"message":{"type":"string","description":"Description of the step","example":"Step 1 Completed","maxLength":255}}}}}}}},"/api/imports/order":{"post":{"tags":["Orders"],"summary":"Create an order","description":"Create an order.<br><br>\nThe set of attributes to send in the request body may vary based on the account configuration. Please contact the implementation specialist for more information.<br><br>\n","operationId":"createOrder","requestBody":{"description":"Order.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Order"}}}},"responses":{"201":{"description":"Created, a JSON showing Order, OrderItems","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"1 order 1 order item(s)"},"identifier":{"type":"string","example":"ABCD"},"order":{"type":"string","$ref":"#/components/schemas/Order"}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","description":"Error message","example":"You need to sign in or create an account before continuing."}}}}}},"412":{"description":"Precondition Failed","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string","description":"Error message"}}}}}}},"patch":{"tags":["Orders"],"summary":"Update an order","description":"Updates an order identified by its \"identifier\".<br><br>\nThe set of attributes to send in the request body may vary based on the account configuration. Please contact the implementation specialist for more information.<br><br>\n","operationId":"updateOrder","requestBody":{"description":"Order.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Order"}}}},"responses":{"201":{"description":"Created, a JSON showing Order, OrderItems","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"1 order 1 order item(s)"},"identifier":{"type":"string","example":"ABCD"},"order":{"type":"string","$ref":"#/components/schemas/Order"}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","description":"Error message","example":"You need to sign in or create an account before continuing."}}}}}},"412":{"description":"Precondition Failed","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string","description":"Error message"}}}}}}}},"/api/exports/orders":{"get":{"tags":["Orders"],"summary":"Export Orders","description":"Orders that have been created since watermark, limited to 100 records at a time.<br><br>A consumer should store the last `id` value of each response and include it as the watermark parameter for subsequent calls.\n","parameters":[{"name":"watermark","in":"query","description":"The value to base a subsequent extract of the next 100 items.","schema":{"$ref":"#/components/schemas/Watermark"}},{"name":"list","in":"query","description":"See Watermark & Limit for more information on response structure.","schema":{"type":"boolean","example":true}}],"responses":{"200":{"description":"Successful Operation","content":{"application/json":{"schema":{"type":"object","example":{"orders":{"6":{},"7":{}}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","description":"Error message","example":"You need to sign in or create an account before continuing."}}}}}}}}},"/api/exports/orders/published":{"get":{"tags":["Orders"],"summary":"Export Orders Published","description":"Orders that have been published (excluding draft orders) since watermark, limited to 100 records at a time.<br><br>A consumer should store the last `id` value of each response and include it as the watermark parameter for subsequent calls.\n","parameters":[{"name":"watermark","in":"query","description":"The value to base a subsequent extract of the next 100 items.","schema":{"$ref":"#/components/schemas/Watermark"}},{"name":"list","in":"query","description":"See Watermark & Limit for more information on response structure.","schema":{"type":"boolean","example":true}},{"name":"options[extended_attributes]","in":"query","required":false,"description":"When this option (options[extended_attributes][key1]=value1) is present, e.g options[extended_attributes][ecommerce_indicator]=true then only published matching('ecommerce_indicator=true') orders are returned in the result.","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful Operation","content":{"application/json":{"schema":{"type":"object","example":{"orders":{"6":{},"7":{}}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","description":"Error message","example":"You need to sign in or create an account before continuing."}}}}}}}}},"/api/exports/order/{identifier}":{"get":{"tags":["Orders"],"summary":"Export/View an Order","description":"View an order and its item details.<br><br>\n\nThe path parameter `identifier` is matched to the order's identifier.\n","parameters":[{"name":"identifier","in":"path","required":true,"description":"The order identifier.","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful Operation","content":{"application/json":{"schema":{"type":"object","properties":null,"$ref":"#/components/schemas/Order"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","description":"Error message","example":"You need to sign in or create an account before continuing."}}}}}}}}},"/api/reference_data/v1/response_codes":{"get":{"tags":["Reference Data"],"summary":"Retrieve list of supported error response codes","description":"View the list of possible error response codes that may be returned as part of a `response_code` key (and/or `gateway_error_*` related keys) in Order Transactions API. For instance the following response payload highlights a `211` response code:\n\n```\n{\n  \"success\": false,\n  \"transaction\": \"8ATB...586N\",\n  \"authorization\": \"5dl1...ady5\",\n  \"gateway_token\": \"71...77\",\n  \"order\": \"12345\",\n  \"wallet\": \"2ZW4...8Q6V\",\n  \"credit_card\": \"CC4X...WXGX\",\n  \"transactions\": [\n    {\n      \"token\": \"...\",\n      \"amount_in_cents\": 13151,\n      \"type\": \"transaction\",\n      \"transaction_type\": \"request_money\",\n      \"state\": \"declined\",\n      \"created_at\": \"2023-11-14T12:13:29-05:00\",\n      \"step_types\": [\n        \"TransactionSteps::CardSaleStep\"\n      ],\n      \"action\": \"sale\",\n      \"payment_method\": \"credit_card\",\n      \"wallet\": \"2ZW4...8Q6V\",\n      \"credit_card\": \"CC4X...WXGX\",\n      \"settlement_token\": \"MA4P...LD5P\",\n      \"currency\": \"usd\",\n      \"approved_amount_cents\": 0,\n      \"fee_amount_cents\": 0,\n      \"fee_exempt\": true,\n      \"gateway_response\": {...},\n      \"gateway_token\": \"7126377\",\n      \"gateway_authorization_response\": \"520.014: INVALID ACCOUNT NUMBER\",\n      \"gateway_error_scope\": \"tpro4\",\n      \"gateway_error_code\": \"520.014\",\n      \"gateway_error_message\": \"INVALID ACCOUNT NUMBER\",\n      \"authorization_response\": \"500\",\n      \"avs_response\": \"Z\",\n      \"credit_card_bin\": \"410040\",\n      \"credit_card_masked_number\": \"XXXXXXXXXXXX9700\",\n      \"credit_card_brand\": \"visa\",\n      \"credit_card_expiry\": \"082026\"\n    }\n  ],\n  \"response_code\": 211\n}\n```\nThe /api/reference_data/v1/response_codes payload reports `211` as follows:\n```\n{\n  \"code\": 211,\n  \"description\": \"Account number invalid\"\n}\n```\n","responses":{"200":{"description":"Successful Operation","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ResponseCode"}}}}}}}},"/api/reference_data/v1/country_codes":{"get":{"tags":["Reference Data"],"summary":"Retrieve list of countries and mapped provinces","description":"Get the list of country codes and mapped provinces.","responses":{"200":{"description":"Successful Operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseCountryCodes"}}}}}}},"/api/reference_data/v1/bin":{"get":{"tags":["Reference Data"],"summary":"Get Bank Identification Number (BIN) reference data","description":"View the Bank Identification Number (BIN) reference data, including bank names, phone number, URLs, country, brand and card types.\n","responses":{"200":{"description":"Successful Operation","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BIN"}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","description":"Error message","example":"You need to sign in or create an account before continuing."}}}}}}}}},"/api/reference_data/v1/bin/{bin}":{"get":{"tags":["Reference Data"],"summary":"Get Bank Identification Number (BIN) reference data","description":"View the Bank Identification Number (BIN) reference data for a given bin number, including bank names, phone number, URLs, and card types.\n","parameters":[{"name":"bin","in":"path","description":"Bank Identification Number. It has to have of at least 6 digits.","required":true,"schema":{"$ref":"#/components/schemas/BankIdentificationNumber"}}],"responses":{"200":{"description":"Successful Operation","content":{"application/json":{"schema":{"type":"object","properties":null,"$ref":"#/components/schemas/BIN"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","description":"Error message","example":"You need to sign in or create an account before continuing."}}}}}}}}},"/api/gateway/v1/wallets/search":{"get":{"tags":["Wallets"],"summary":"Search Accessible Wallets","description":"Accessible wallets can be searched by contact email, customer identifier, fund token, or vault token.","parameters":[{"name":"type","in":"query","required":true,"description":"The type of search `email|customer|fund|vault`","schema":{"type":"string","example":"email"}},{"name":"locator","in":"query","required":true,"description":"The value used for search according to the type.","schema":{"type":"string","example":"salesdemo@versapay.com"}}],"responses":{"200":{"description":"Successful Operation","content":{"application/json":{"schema":{"type":"object","properties":{"wallets":{"type":"array","items":{"$ref":"#/components/schemas/Wallet"}}}},"examples":{"list_of_wallets":{"$ref":"#/components/examples/list_of_wallets"}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"}}}},"/api/gateway/v1/wallets":{"post":{"tags":["Wallets"],"summary":"Create Wallet Empty/Payment Method","description":"Create a new wallet (empty) and/or a new wallet with a payment method.","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WalletRequest"},"examples":{"wallet_empty_ghost":{"summary":"Create empty wallet (ghost customer)","value":{}},"wallet_empty_contact":{"summary":"Create empty wallet (ghost customer and contact)","value":{"contact":{"first_name":"Carey","last_name":"Price","email":"price@habs.com"}}},"wallet_empty_customer1":{"summary":"Create empty wallet w/ new invoicing customer","value":{"customer":{"name":"Montreal Canadiens"}}},"wallet_empty_customer2":{"summary":"Create empty wallet w/ existing invoicing customer reference","value":{"customer":{"identifier":"C1234"}}},"wallet_empty_customer3":{"summary":"Create empty wallet w/ existing invoicing customer reference (short form)","value":{"customer":"C1234"}},"wallet_empty_customer_contact":{"summary":"Create empty wallet w/ existing invoicing customer and contact","value":{"customer":{"identifier":"C1234"},"contact":{"first_name":"Carey","last_name":"Price","email":"price@habs.com"}}},"wallet_new_ghost_card":{"summary":"New wallet (ghost) with credit card","value":{"credit_card":{"name":"FRANK SMITH","expiry_month":8,"expiry_year":2020,"card_number":"5420923878724339","cvv":"123","address":{"address_1":"123 Abc St","city":"Beverly Hills","province":"CA","postal_code":"90210","country":"US"}}}},"wallet_new_ghost_bank":{"summary":"New wallet (ghost) with bank account","value":{"bank_account":{"currency":"USD","account_type":"checking","account_holder":"Tim Coffee Ltd","account_number":"144155167","routing_number":"121000248","external_name":"BANK","external_number":"777","address":{"address_1":"123 Abc St","city":"Beverly Hills","province":"CA","postal_code":"90210","country":"US"}}}},"wallet_new_contact_card":{"summary":"New wallet (ghost customer and contact) with credit card","value":{"contact":{"email":"frank@smith.com","first_name":"Frank","last_name":"Smith"},"credit_card":{"name":"FRANK SMITH","expiry_month":8,"expiry_year":2020,"card_number":"5420923878724339","cvv":"123","address":{"address_1":"123 Abc St","city":"Beverly Hills","province":"CA","postal_code":"90210","country":"US"}}}},"wallet_new_contact_bank":{"summary":"New wallet (ghost customer and contact) with bank account","value":{"contact":{"email":"frank@smith.com","first_name":"Frank","last_name":"Smith"},"bank_account":{"currency":"USD","account_type":"checking","account_holder":"Tim Coffee Ltd","account_number":"144155167","routing_number":"121000248","external_name":"BANK","external_number":"777","address":{"address_1":"123 Abc St","city":"Beverly Hills","province":"CA","postal_code":"90210","country":"US"}}}},"wallet_new_customer_contact_card":{"summary":"New wallet existing invoicing customer and contact with credit card","value":{"customer":{"identifier":"C1234","name":"Starblux"},"contact":{"email":"frank@smith.com","first_name":"Frank","last_name":"Smith"},"credit_card":{"name":"FRANK SMITH","expiry_month":8,"expiry_year":2020,"card_number":"5420923878724339","cvv":"123","address":{"address_1":"123 Abc St","city":"Beverly Hills","province":"CA","postal_code":"90210","country":"US"}}}},"wallet_new_customer_contact_bank":{"summary":"New wallet existing invoicing customer and contact with bank account","value":{"customer":{"identifier":"C1234","name":"Starblux"},"contact":{"email":"frank@smith.com","first_name":"Frank","last_name":"Smith"},"bank_account":{"currency":"USD","account_type":"checking","account_holder":"Tim Coffee Ltd","account_number":"144155167","routing_number":"121000248","external_name":"BANK","external_number":"777","address":{"address_1":"123 Abc St","city":"Beverly Hills","province":"CA","postal_code":"90210","country":"US"}}}},"wallet_known_customer_contact_card1":{"summary":"Add credit card to a known wallet via reference (short form)","value":{"wallet":"77A81025AC3A","customer":{"identifier":"C1234","name":"Starblux"},"contact":{"email":"frank@smith.com","first_name":"Frank","last_name":"Smith"},"credit_card":{"name":"FRANK SMITH","expiry_month":8,"expiry_year":2020,"card_number":"5420923878724339","cvv":"123","address":{"address_1":"123 Abc St","city":"Beverly Hills","province":"CA","postal_code":"90210","country":"US"}}}},"wallet_known_customer_contact_card2":{"summary":"Add credit card to a known wallet via reference (long form)","value":{"wallet":{"token":"77A81025AC3A"},"customer":{"identifier":"C1234","name":"Starblux"},"contact":{"email":"frank@smith.com","first_name":"Frank","last_name":"Smith"},"credit_card":{"name":"FRANK SMITH","expiry_month":8,"expiry_year":2020,"card_number":"5420923878724339","cvv":"123","address":{"address_1":"123 Abc St","city":"Beverly Hills","province":"CA","postal_code":"90210","country":"US"}}}}}}}},"responses":{"200":{"description":"200 response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WalletResponse"},"examples":{"new_wallet_empty":{"$ref":"#/components/examples/new_wallet_empty"},"new_wallet_fund":{"$ref":"#/components/examples/new_wallet_fund"}}}}},"412":{"$ref":"#/components/responses/WalletErrors"}}}},"/api/gateway/v1/wallets/{wallet_token}":{"get":{"tags":["Wallets"],"summary":"View Wallet","description":"View specific wallet given its wallet identifier/token.","parameters":[{"name":"wallet_token","in":"path","required":true,"description":"The wallet identifier/token","schema":{"type":"string","example":"77A81025AC3A"}}],"responses":{"200":{"description":"200 response","content":{"application/json":{"schema":{"type":"object","properties":{"wallets":{"type":"array","description":"List of wallets.","items":{"$ref":"#/components/schemas/Wallet"}}}}}}},"412":{"$ref":"#/components/responses/WalletErrors"}}}},"/api/gateway/v1/wallets/{wallet_token}/methods":{"post":{"tags":["Wallets"],"summary":"Add Payment Methods to Known Wallet","description":"Add payment methods to a known wallet given its identifier/token.","parameters":[{"name":"wallet_token","in":"path","required":true,"description":"The wallet identifier/token","schema":{"type":"string","example":"77A81025AC3A"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WalletPaymentMethodRequest"},"examples":{"wallet_known_new_card":{"summary":"Add credit card","value":{"credit_card":{"name":"FRANK SMITH","expiry_month":8,"expiry_year":2020,"card_number":"5420923878724339","cvv":"123","address":{"address_1":"123 Abc St","city":"Beverly Hills","province":"CA","postal_code":"90210","country":"US"}}}},"wallet_known_import_card":{"summary":"Add credit card (importing from prior Vault tokenized card number)","value":{"credit_card":{"name":"FRANK SMITH","expiry_month":8,"expiry_year":2020,"brand":"mastercard","last_4_digits":"4339","gateway_token":"4f7b9f2c-20f8-4265-a26c-ff0e4dadeec7","address":{"address_1":"123 Abc St","city":"Beverly Hills","province":"CA","postal_code":"90210","country":"US"}}}},"wallet_known_new_bank":{"summary":"Add bank account","value":{"bank_account":{"currency":"USD","account_type":"checking","account_holder":"Tim Coffee Ltd","account_number":"144155167","routing_number":"121000248","external_name":"BANK","external_number":"777","address":{"address_1":"123 Abc St","city":"Beverly Hills","province":"CA","postal_code":"90210","country":"US"}}}},"wallet_known_import_bank":{"summary":"Add bank account (importing from prior Vault tokenized account number)","value":{"bank_account":{"currency":"USD","account_type":"checking","account_holder":"Tim Coffee Ltd","gateway_token":"8f8b8f2c-20f8-4265-a26c-ff0e8dadeec8","routing_number":"121000248","external_name":"BANK","external_number":"777","address":{"address_1":"123 Abc St","city":"Beverly Hills","province":"CA","postal_code":"90210","country":"US"}}}}}}}},"responses":{"200":{"description":"200 response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WalletResponse"}}}},"412":{"$ref":"#/components/responses/WalletErrors"}}}},"/api/gateway/v1/wallets/{wallet_token}/methods/{fund_token}":{"patch":{"tags":["Wallets"],"summary":"Update Payment Method in Wallet","description":"Updates a payment method given its wallet and fund identifier/token.","parameters":[{"name":"wallet_token","in":"path","required":true,"description":"The wallet identifier/token","schema":{"type":"string","example":"77A81025AC3A"}},{"name":"fund_token","in":"path","required":true,"description":"The fund identifier/token","schema":{"type":"string","example":"CC98U7LI8H91"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WalletPaymentMethodPatch"},"examples":{"patch_card0":{"summary":"Update credit card nickname","value":{"credit_card":{"nickname":"Dividend Platinum"}}},"patch_card1":{"summary":"Lock credit card from future use","value":{"credit_card":{"locked":true}}},"patch_card2":{"summary":"Update credit card expiry","value":{"credit_card":{"expiry_month":8,"expiry_year":2020}}},"patch_card3":{"summary":"Update credit card expiry and address","value":{"credit_card":{"expiry_month":8,"expiry_year":2020,"address":{"address_1":"123 Abc St","city":"Beverly Hills","province":"CA","postal_code":"90210","country":"US"}}}},"patch_bank0":{"summary":"Update bank account nickname and external information","value":{"bank_account":{"external_name":"BANK","external_number":"777","nickname":"Bank of America - Spending"}}},"patch_bank1":{"summary":"Lock bank account from future use","value":{"bank_account":{"locked":true}}},"patch_bank2":{"summary":"Update bank account address","value":{"bank_account":{"address":{"address_1":"123 Abc St","city":"Beverly Hills","province":"CA","postal_code":"90210","country":"US"}}}}}}}},"responses":{"200":{"description":"200 response","content":{"application/json":{"schema":{"type":"object","properties":{"fund_token":{"type":"string","example":"CC98U7LI8H91"}}}}}},"412":{"$ref":"#/components/responses/WalletMethodErrors"}}},"delete":{"tags":["Wallets"],"summary":"Remove Payment Method From Wallet","description":"Removes a payment method from wallet given given its wallet and fund identifier/token.","parameters":[{"name":"wallet_token","in":"path","required":true,"description":"The wallet identifier/token","schema":{"type":"string","example":"77A81025AC3A"}},{"name":"fund_token","in":"path","required":true,"description":"The fund identifier/token","schema":{"type":"string","example":"CC98U7LI8H91"}}],"responses":{"200":{"description":"200 response","content":{"application/json":{"schema":{"type":"object","properties":{"fund_token":{"type":"string","example":"CC98U7LI8H91"}}}}}},"412":{"$ref":"#/components/responses/WalletMethodErrors"}}}},"/api/exports/wallets":{"get":{"tags":["Wallets"],"summary":"Export Wallets","description":"Payments made to your supplier account from your customers since watermark, limited to 100 payments at a time.<br><br>A consumer should store the last `id` value of each response and include it as the watermark parameter for a subsequent calls.\n","parameters":[{"name":"watermark","in":"query","description":"The value to base a subsequent extract of the next 100 items.","schema":{"$ref":"#/components/schemas/Watermark"}},{"name":"list","in":"query","description":"See Watermark & Limit for more information on response structure.","schema":{"type":"boolean","example":true}}],"responses":{"200":{"description":"Successful Operation","content":{"application/json":{"schema":{"type":"object","properties":{"wallets":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/Wallet"}}}},"examples":{"export_wallets":{"$ref":"#/components/examples/export_wallets"}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"}}}},"/api/exports/wallets/recent":{"get":{"tags":["Wallets"],"summary":"Export Wallets Recently Updated","description":"Payment records that have been updated in the past 7 days, since watermark, limited to 100 records at a time.<br><br>A consumer should store the last `id` value of each response and include it as the watermark parameter for subsequent calls.\n","parameters":[{"name":"watermark","in":"query","description":"The value to base a subsequent extract of the next 100 items.","schema":{"$ref":"#/components/schemas/Watermark"}},{"name":"list","in":"query","description":"See Watermark & Limit for more information on response structure.","schema":{"type":"boolean","example":true}}],"responses":{"200":{"description":"Successful Operation","content":{"application/json":{"schema":{"type":"object","properties":{"wallets":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/Wallet"}}}},"examples":{"export_wallets":{"$ref":"#/components/examples/export_wallets"}}}}}}}},"/api/gateway/v1/orders/verify":{"post":{"tags":["Order Transactions"],"summary":"Verify transaction","description":"A Verify transaction serves two purposes. First, it attempts to validate the provided credit card or bank account information. In the case of credit card Verify transactions, the gateway will run a verification transaction to allow the card issuer to confirm that the account is in good standing and that the provided billing address and card verification value (CVV) is correct. In the case of bank accounts, the gateway may attempt to use a negative database of known bad bank accounts or use other fraud protection tools to confirm the validity of the bank account. Second, the Verify transaction returns a token that is safe for the payment application to store and can be used for future transactions without needing to provide the sensitive account information (this effectively equates to having built a Wallet, see the Wallet API section).","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderTransactionRequest"},"examples":{"use_existing_fund":{"$ref":"#/components/examples/use_existing_fund"},"use_existing_credit_card":{"$ref":"#/components/examples/use_existing_credit_card"},"use_existing_credit_card_fee_exempt":{"$ref":"#/components/examples/use_existing_credit_card_fee_exempt"},"use_cp_emv_terminal":{"$ref":"#/components/examples/use_cp_emv_terminal"},"use_cp_emv_terminal_prompt":{"$ref":"#/components/examples/use_cp_emv_terminal_prompt"},"use_new_credit_card":{"$ref":"#/components/examples/use_new_credit_card"},"use_new_bank_account":{"$ref":"#/components/examples/use_new_bank_account"},"use_settlement_routing":{"$ref":"#/components/examples/use_settlement_routing"}}}}},"responses":{"200":{"description":"200 response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderTransactionResponse"}}}},"500":{"description":"500 error response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnifiedResponse"},"examples":{"declined_invalid_card":{"$ref":"#/components/examples/declined_invalid_card"},"declined":{"$ref":"#/components/examples/declined"},"error":{"$ref":"#/components/examples/error"}}}}}}}},"/api/gateway/v1/orders/sale":{"post":{"tags":["Order Transactions"],"summary":"Sale/Purchase transaction","description":"A Sale transaction is a request to initiate the transfer of funds from the buyer to the supplier. For credit card payments, the gateway will first authorize the transaction before adding the transaction to the settlement batch for capture at the end of the processing day. For ACH payments, the gateway will accept the sale request and add the transaction to the batch.","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderTransactionRequest"},"examples":{"use_existing_fund":{"$ref":"#/components/examples/use_existing_fund"},"use_existing_credit_card":{"$ref":"#/components/examples/use_existing_credit_card"},"use_existing_credit_card_fee_exempt":{"$ref":"#/components/examples/use_existing_credit_card_fee_exempt"},"use_cp_emv_terminal":{"$ref":"#/components/examples/use_cp_emv_terminal"},"use_cp_emv_terminal_prompt":{"$ref":"#/components/examples/use_cp_emv_terminal_prompt"},"use_new_credit_card":{"$ref":"#/components/examples/use_new_credit_card"},"use_new_bank_account":{"$ref":"#/components/examples/use_new_bank_account"},"use_gift_card":{"$ref":"#/components/examples/use_gift_card"},"use_settlement_routing":{"$ref":"#/components/examples/use_settlement_routing"}}}}},"responses":{"200":{"description":"200 response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderTransactionResponse"}}}},"500":{"description":"500 error response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnifiedResponse"},"examples":{"declined_invalid_card":{"$ref":"#/components/examples/declined_invalid_card"},"declined":{"$ref":"#/components/examples/declined"},"error":{"$ref":"#/components/examples/error"}}}}}}}},"/api/gateway/v1/orders/credit":{"post":{"tags":["Order Transactions"],"summary":"Return Credit transaction (unlinked return/refund)","description":"A Credit transaction is a request to initiate the transfer of funds from the supplier back to the buyer and is the opposite of a sale. For credit card payments, the gateway will first authorize the return transaction before adding the transaction to the settlement batch for transmission at the end of the processing day. For ACH payments, the gateway will accept the credit request and add the transaction to the batch.","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderTransactionRequest"},"examples":{"use_existing_fund":{"$ref":"#/components/examples/use_existing_fund"},"use_existing_credit_card":{"$ref":"#/components/examples/use_existing_credit_card"},"use_existing_credit_card_fee_exempt":{"$ref":"#/components/examples/use_existing_credit_card_fee_exempt"},"use_cp_emv_terminal":{"$ref":"#/components/examples/use_cp_emv_terminal"},"use_cp_emv_terminal_prompt":{"$ref":"#/components/examples/use_cp_emv_terminal_prompt"},"use_new_credit_card":{"$ref":"#/components/examples/use_new_credit_card"},"use_new_bank_account":{"$ref":"#/components/examples/use_new_bank_account"},"use_settlement_routing":{"$ref":"#/components/examples/use_settlement_routing"}}}}},"responses":{"200":{"description":"200 response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderTransactionResponse"}}}},"500":{"description":"500 error response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnifiedResponse"},"examples":{"declined_invalid_card":{"$ref":"#/components/examples/declined_invalid_card"},"declined":{"$ref":"#/components/examples/declined"},"error":{"$ref":"#/components/examples/error"}}}}}}}},"/api/gateway/v1/terminal":{"post":{"tags":["Card Present EMV"],"summary":"Issue a direct command to a POS terminal e.g. DeviceSetup, RequestSignature, Cancel, DeviceStatus","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TerminalRequest"},"examples":{"tc_device_setup":{"$ref":"#/components/examples/tc_device_setup"},"tc_request_signature":{"$ref":"#/components/examples/tc_request_signature"},"tc_cancel":{"$ref":"#/components/examples/tc_cancel"},"tc_device_status":{"$ref":"#/components/examples/tc_device_status"}}}}},"responses":{"200":{"description":"200 response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TerminalResponse"},"examples":{"success":{"summary":"Successful terminal command","value":{"success":true}},"fail":{"summary":"Failed terminal command","value":{"success":false}}}}}},"500":{"description":"500 error response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnifiedResponse"},"examples":{"declined_invalid_card":{"$ref":"#/components/examples/declined_invalid_card"},"declined":{"$ref":"#/components/examples/declined"},"error":{"$ref":"#/components/examples/error"}}}}}}}},"/api/gateway/v1/gift_card":{"post":{"tags":["Gift Cards"],"summary":"Activate and/or load a gift card balance","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GiftCardRequest"},"examples":{"gc_activate":{"$ref":"#/components/examples/gc_activate"},"gc_deactivate":{"$ref":"#/components/examples/gc_deactivate"},"gc_load":{"$ref":"#/components/examples/gc_load"},"gc_activate_load":{"$ref":"#/components/examples/gc_activate_load"}}}}},"responses":{"200":{"description":"200 response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GiftCardResponse"},"examples":{"success":{"summary":"Successful activation/load","value":{"success":true}},"fail":{"summary":"Failed activation/load","value":{"success":false}}}}}},"500":{"description":"500 error response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnifiedResponse"},"examples":{"declined_invalid_card":{"$ref":"#/components/examples/declined_invalid_card"},"declined":{"$ref":"#/components/examples/declined"},"error":{"$ref":"#/components/examples/error"}}}}}}}},"/api/gateway/v1/gift_card/read":{"post":{"tags":["Gift Cards"],"summary":"Read a gift card balance","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GiftCardReadRequest"},"examples":{"gc_read":{"$ref":"#/components/examples/gc_read"}}}}},"responses":{"200":{"description":"200 response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GiftCardReadResponse"},"examples":{"gc_read_ok":{"summary":"Successful read","value":{"id":"66","token":"04bfe04a-80aa-4779-8388-59396afdfdf7","balance":777,"activated":false,"created_at":"11/3/2021 12:00:00 AM","expires_at":"12/1/2049 12:00:00 AM"}},"gc_read_unknown":{"summary":"Empty/unknown gift card","value":{"balance":0,"activated":false}}}}}},"500":{"description":"500 error response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnifiedResponse"},"examples":{"declined_invalid_card":{"$ref":"#/components/examples/declined_invalid_card"},"declined":{"$ref":"#/components/examples/declined"},"error":{"$ref":"#/components/examples/error"}}}}}}}},"/api/gateway/v1/orders/auth":{"post":{"tags":["Order Transactions"],"summary":"Authorization transaction","description":"An Authorize transaction is a non-financial transaction and is used to reserve funds on a buyer’s credit card account. An authorization should be used in scenarios when there will be a delay between taking the order and when the goods or services being purchased will be shipped or delivered to the buyer. In order to collect the funds reserved by an authorization, a subsequent capture request is required. Authorizations, if not captured or voided, will automatically be released by the card issuer in anywhere from two to fourteen days.","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderTransactionRequest"},"examples":{"use_existing_fund":{"$ref":"#/components/examples/use_existing_fund"},"use_existing_credit_card":{"$ref":"#/components/examples/use_existing_credit_card"},"use_existing_credit_card_fee_exempt":{"$ref":"#/components/examples/use_existing_credit_card_fee_exempt"},"use_cp_emv_terminal":{"$ref":"#/components/examples/use_cp_emv_terminal"},"use_cp_emv_terminal_prompt":{"$ref":"#/components/examples/use_cp_emv_terminal_prompt"},"use_new_credit_card":{"$ref":"#/components/examples/use_new_credit_card"},"use_new_bank_account":{"$ref":"#/components/examples/use_new_bank_account"},"use_settlement_routing":{"$ref":"#/components/examples/use_settlement_routing"}}}}},"responses":{"200":{"description":"200 response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderTransactionResponse"}}}},"500":{"description":"500 error response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnifiedResponse"},"examples":{"declined_invalid_card":{"$ref":"#/components/examples/declined_invalid_card"},"declined":{"$ref":"#/components/examples/declined"},"error":{"$ref":"#/components/examples/error"}}}}}}}},"/api/gateway/v1/orders/capture":{"post":{"tags":["Order Transactions"],"summary":"Capture transaction","description":"A Capture transaction initiates the transfer of funds reserved by a prior authorization. When the gateway receives the capture request, it adds the capture to the settlement batch for transmission to the payment processing platform at the end of the processing day.","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderTransactionRequest"},"examples":{"prior_transaction_reference":{"$ref":"#/components/examples/prior_transaction_reference"},"use_new_credit_card":{"$ref":"#/components/examples/use_new_credit_card"},"use_existing_credit_card_fee_exempt":{"$ref":"#/components/examples/use_existing_credit_card_fee_exempt"},"use_new_bank_account":{"$ref":"#/components/examples/use_new_bank_account"},"use_cp_emv_terminal":{"$ref":"#/components/examples/use_cp_emv_terminal"},"use_cp_emv_terminal_prompt":{"$ref":"#/components/examples/use_cp_emv_terminal_prompt"},"use_settlement_routing":{"$ref":"#/components/examples/use_settlement_routing"}}}}},"responses":{"200":{"description":"200 response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderTransactionResponse"}}}},"500":{"description":"500 error response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnifiedResponse"},"examples":{"declined_invalid_card":{"$ref":"#/components/examples/declined_invalid_card"},"declined":{"$ref":"#/components/examples/declined"},"error":{"$ref":"#/components/examples/error"}}}}}}}},"/api/gateway/v1/orders/refund":{"post":{"tags":["Order Transactions"],"summary":"Return refund transaction (linked return/refund)","description":"A Refund transaction is a request to initiate the transfer of funds from the supplier back to the buyer and is based on a prior sale or capture transaction. For credit card payments, the gateway will first authorize the return transaction before adding the transaction to the settlement batch for transmission at the end of the processing day. For ACH payments, the gateway will accept the refund request and add the transaction to the batch.","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderTransactionRequest"},"examples":{"prior_transaction_reference":{"$ref":"#/components/examples/prior_transaction_reference"}}}}},"responses":{"200":{"description":"200 response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderTransactionResponse"}}}},"500":{"description":"500 error response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnifiedResponse"},"examples":{"declined_invalid_card":{"$ref":"#/components/examples/declined_invalid_card"},"declined":{"$ref":"#/components/examples/declined"},"error":{"$ref":"#/components/examples/error"}}}}}}}},"/api/gateway/v1/orders/void":{"post":{"tags":["Order Transactions"],"summary":"Void transaction (linked return/refund)","description":"A Void transaction reverses the effect of a prior transaction when possible. Financial transactions like sales, captures, credits, and refunds can be voided during the same processing day until the gateway transmits the settlement batch. Once the batch has been transmitted, a void is not possible, and the transaction would need to be reversed using a financial transaction (e.g., a sale would need to be reversed with a refund). Void transactions can also reverse the effect of an authorization, either fully or partially. This is useful if the authorization is no longer needed or if the authorization needs to be captured for a lesser amount.","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderTransactionRequest"},"examples":{"prior_transaction_reference":{"$ref":"#/components/examples/prior_transaction_reference"}}}}},"responses":{"200":{"description":"200 response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderTransactionResponse"}}}},"500":{"description":"500 error response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnifiedResponse"},"examples":{"declined_invalid_card":{"$ref":"#/components/examples/declined_invalid_card"},"declined":{"$ref":"#/components/examples/declined"},"error":{"$ref":"#/components/examples/error"}}}}}}}},"/api/funds":{"get":{"summary":"View Your Fund Sources","tags":["Fund Sources"],"responses":{"200":{"description":"Successful Operation","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/FundSource"},"example":[{"type":"bank_account","token":"BA7YQ5881W8Q","name":"TD Canada Trust (2929)","state":"verified"},{"type":"credit_card","token":"CC7HPKMIUP2D","name":"VISA **2224"},{"type":"balance","token":"VPB2VJ7W9UVW","name":"Versapay Account"}]}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"}}}},"/api/vault/bank":{"post":{"summary":"Vault a Bank Account","description":"Vault a Bank Account for subsequent Transaction Use/Creation","tags":["Fund Sources"],"requestBody":{"description":"Bank account to vault.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BankAccount"}}}},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VaultResponse"}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"412":{"$ref":"#/components/responses/PreconditionFailed"}}}},"/api/transactions":{"post":{"summary":"Create Transactions","description":"","tags":["Transactions"],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Transaction"}}}},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransactionResponse"}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"412":{"$ref":"#/components/responses/PreconditionFailed"}}},"get":{"summary":"View Transactions","tags":["Transactions"],"parameters":[{"name":"page","in":"query","description":"50 items are displayed per page.","schema":{"type":"integer"}}],"responses":{"200":{"description":"Successful Operation","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TransactionResponse"}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"}}}},"/api/transactions/{token_or_unique_reference}":{"get":{"summary":"View a Transaction","tags":["Transactions"],"parameters":[{"name":"token_or_unique_reference","in":"path","required":true,"description":"The transaction identifier (or unique_reference).","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful Operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransactionResponse"}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"}}}},"/api/transactions/{token}/approve":{"post":{"summary":"Approve a Transaction","description":"Approve a `new` or `wait_for_request_approval` transaction.<br>\nAn API key with administrative access is required to approve a transaction.\n","tags":["Transactions"],"parameters":[{"name":"token","in":"path","description":"The transaction identifier.","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"fund_token":{"type":"string","description":"Your bank account or balance's **token** attribute. Omitting this option will approve the transaction using your default bank account.\n","example":"5TH3ACC3AU21"}}}}}},"responses":{"200":{"description":"Successful Operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransactionResponse"}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"412":{"$ref":"#/components/responses/PreconditionFailed"}}}},"/api/transactions/{token}/cancel":{"post":{"summary":"Cancel a Transaction","description":"Cancel a `new`, `wait_for_request_approval` or `wait_for_bank_account_verification` transaction you created. Transactions cannot be cancelled after they have been sent to the bank and are `in_progress`.<br>\nAn API key with administrative access is required to approve a transaction.\n","tags":["Transactions"],"parameters":[{"name":"token","in":"path","description":"The transaction identifier.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful Operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransactionResponse"}}}},"412":{"$ref":"#/components/responses/PreconditionFailed"}}}},"/api/debit_agreements":{"post":{"summary":"Create an Agreement","description":"","tags":["Agreements"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["email"],"properties":{"email":{"type":"string","description":"Recipient email address.","example":"bob.smith@example.com"},"reference":{"type":"string","description":"Extra useful data to help link transactions to other systems e.g. PO numbers, account numbers etc.","example":"87769089"},"message":{"type":"string","description":"A message describing what the agreement is for.","example":"Debit agreement for order number - 87769089"}}}}}},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Agreement"}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"412":{"$ref":"#/components/responses/PreconditionFailed"}}}},"/api/debit_agreements/sent":{"get":{"summary":"View Sent Agreements","tags":["Agreements"],"parameters":[{"name":"page","in":"query","description":"50 items are displayed per page.","schema":{"type":"integer"}}],"responses":{"200":{"description":"Successful Operation","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Agreement"}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"}}}},"/api/debit_agreements/received":{"get":{"summary":"View Received Agreements","tags":["Agreements"],"parameters":[{"name":"page","in":"query","description":"50 items are displayed per page.","schema":{"type":"integer"}}],"responses":{"200":{"description":"Successful Operation","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Agreement"}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"}}}},"/api/debit_agreements/{token}/approve":{"post":{"summary":"Approve an Agreement","tags":["Agreements"],"parameters":[{"in":"path","name":"token","description":"The agreement identifier.","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"fund_token":{"type":"string","description":"Your bank account or balance's token attribute. Omitting this option will approve the agreement using your default bank account.\n","example":"5TH3ACC3AU21"}}}}}},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Agreement"}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"412":{"$ref":"#/components/responses/PreconditionFailed"}}}},"/api/debit_agreements/{token}/cancel":{"post":{"summary":"Cancel an Agreement","tags":["Agreements"],"parameters":[{"in":"path","name":"token","description":"The agreement identifier.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful Operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Agreement"}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"}}}},"/api/debit_agreements/{token}/reject":{"post":{"summary":"Reject an Agreement","description":"Reject a *pending* agreement by supplying an agreement's *token* attribute and providing a *rejection_reason*.\n","tags":["Agreements"],"parameters":[{"in":"path","name":"token","description":"The agreement identifier.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful Operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Agreement"}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"}}}},"/api/debit_agreements/{token}/revoke":{"post":{"summary":"Revoke an Agreement","description":"Revoke an *approved* agreement for your account by supplying an agreement's token attribute. The agreement's creator will no longer be able to debit your account using this agreement.\n","operationId":"revokeAgreement","tags":["Agreements"],"parameters":[{"name":"token","in":"path","required":true,"description":"The agreement identifier.","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful Operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Agreement"}}}}}}},"/api/autopay":{"post":{"summary":"Create an Autopay","description":"","tags":["Autopay"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["customer_identifier","fund_token"],"properties":{"autopay_reference":{"oneOf":[{"type":"array","items":{"description":"Optional parameter that can be used to create a Specific AutoPay. This parameter can include one or more values for AutoPay reference","type":"string"},"example":["REF123","REF234"]},{"type":"string","description":"Optional parameter that can be used to create a Specific AutoPay. This parameter can include one value for AutoPay reference or an array for more than one value","example":"REF123"}]},"customer_identifier":{"type":"string","description":"Customer Identifier.","example":"CUS123"},"fund_token":{"type":"string","description":"The fund token to be used for autopay.","example":"TOKEN123"}}}}}},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AutopayCreated"}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"412":{"$ref":"#/components/responses/PreconditionFailed"}}},"put":{"summary":"Updates an Autopay","description":"Updates a autopay fund","tags":["Autopay"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["customer_identifier","fund_token","token"],"properties":{"customer_identifier":{"type":"string","description":"Customer Identifier.","example":"CUS123"},"fund_token":{"type":"string","description":"New token of the required fund.","example":"NEWTOKEN123"},"token":{"type":"string","description":"Old token of the required fund.","example":"OLDTOKEN123"}}}}}},"responses":{"201":{"description":"Created"},"401":{"$ref":"#/components/responses/UnauthorizedError"},"412":{"$ref":"#/components/responses/PreconditionFailed"}}},"get":{"summary":"Retrieves Autopays","description":"Gets all the autopay for a customer","tags":["Autopay"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["customer_identifier"],"properties":{"customer_identifier":{"type":"string","description":"Customer Identifier.","example":"CUS123"}}}}}},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AutopayResponse"}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"412":{"$ref":"#/components/responses/PreconditionFailed"}}}},"/api/autopay/revoke":{"post":{"summary":"Revoke an Autopay","description":"Revoke an *approved* autopay for your account by supplying an agreement's token attribute. The agreement's creator will no longer be able to debit your account using this autopay agreement.\n","operationId":"revokeAutopay","tags":["Autopay"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["customer_identifier","token"],"properties":{"customer_identifier":{"type":"string","description":"Customer Identifier.","example":"CUS123"},"token":{"type":"string","description":"The token of the autopay agreement.","example":"TOKEN123"}}}}}},"responses":{"200":{"description":"Successful Operation"}}}},"/api/imports/customer":{"post":{"summary":"Create and Update Customer","description":"Create a customer using the following attributes (at minimum by providing values for required attributes). If providing an identifier for an existing customer, its information is updated.<br><br>\n*Note: Any additional non-standard attribute will be stored with customer record and available for presentment rendering.*\n","tags":["Customers"],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Customer"}}}},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"type":"object","properties":{"identifier":{"type":"string","example":"C1234"},"message":{"type":"string","example":"1 customer with 3 contacts"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"412":{"$ref":"#/components/responses/PreconditionFailed"}}}},"/api/exports/customer/{identifier}":{"get":{"summary":"Export/View a Customer","description":"View a customer based on the `identifier` provided.\n","tags":["Customers"],"parameters":[{"name":"identifier","in":"path","required":true,"description":"`identifier` of the customer record.\n","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful Operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerResponse"}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}}}},"/api/exports/customers":{"get":{"summary":"Export Customers","description":"Customer records that have been created since watermark, limited to 100 records at a time.<br><br>A consumer should store the last `id` value of each response and include it as the watermark parameter for subsequent calls.\n","tags":["Customers"],"parameters":[{"name":"watermark","in":"query","description":"The value to base a subsequent extract of the next 100 items.","schema":{"$ref":"#/components/schemas/Watermark"}},{"name":"list","in":"query","description":"See Watermark & Limit for more information on response structure.","schema":{"type":"boolean","example":true}}],"responses":{"200":{"description":"Successful Operation","content":{"application/json":{"schema":{"type":"object","properties":{"customers":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/CustomersResponse"}}}},"examples":{"customers":{"value":{"customers":{"20":{"identifier":"megavoice-customer-1","display_number":"megavoice-customer-1","name":"MegavoiceCust","email":"mukmuk@example.com","business_number":null,"first_name":null,"last_name":null,"address_1":null,"address_2":null,"postal_code":null,"city":null,"province":null,"country":"","telephone":null,"fax":null,"status":"","auto_debit":"","invite_sent":null,"signed_up":null,"notification_suppressed":false,"notification_override":false,"paper_invoices":false,"paper_statements":false,"parent_identifier":null,"balance_cents":0,"aging_cents":0,"aging_30_cents":0,"aging_60_cents":0,"aging_90_cents":0,"aging_120_cents":0,"aging_180_cents":0,"aging_older_cents":0,"current_cents":0,"credit_cents":0,"unapplied_payment_cents":0,"prepayment_cents":0,"owing_cents":0,"notes":null,"adp":null,"adp_arc":null,"adp_external":null,"last_contact_date":null,"next_contact_date":null,"credit_limit_cents":null,"account_status":"open","tags":null,"user_tags":null,"external_id":"1","watermark":20}}}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"}}}},"/api/exports/customers/recent":{"get":{"summary":"Export Customers Recently Updated","description":"Customer records that have been updated in the past 7 days, since watermark, limited to 100 records at a time.<br><br>A consumer should store the last `id` value of each response and include it as the watermark parameter for subsequent calls.\n","tags":["Customers"],"parameters":[{"name":"watermark","in":"query","description":"The value to base a subsequent extract of the next 100 items.","schema":{"$ref":"#/components/schemas/Watermark"}},{"name":"list","in":"query","description":"See Watermark & Limit for more information on response structure.","schema":{"type":"boolean","example":true}}],"responses":{"200":{"description":"Successful Operation","content":{"application/json":{"schema":{"type":"object","properties":{"customers":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/CustomersResponse"}}}},"examples":{"customers":{"value":{"customers":{"20":{"identifier":"megavoice-customer-1","display_number":"megavoice-customer-1","name":"MegavoiceCust","email":"mukmuk@example.com","business_number":null,"first_name":null,"last_name":null,"address_1":null,"address_2":null,"postal_code":null,"city":null,"province":null,"country":"","telephone":null,"fax":null,"status":"","auto_debit":"","invite_sent":null,"signed_up":null,"notification_suppressed":false,"notification_override":false,"paper_invoices":false,"paper_statements":false,"parent_identifier":null,"balance_cents":0,"aging_cents":0,"aging_30_cents":0,"aging_60_cents":0,"aging_90_cents":0,"aging_120_cents":0,"aging_180_cents":0,"aging_older_cents":0,"current_cents":0,"credit_cents":0,"unapplied_payment_cents":0,"prepayment_cents":0,"owing_cents":0,"notes":null,"adp":null,"adp_arc":null,"adp_external":null,"last_contact_date":null,"next_contact_date":null,"credit_limit_cents":null,"account_status":"open","tags":null,"user_tags":null,"external_id":"1","watermark":20}}}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"}}}},"/api/exports/customer/{identifier}/open_invoices":{"get":{"summary":"Export Open Invoices for a Customer","description":"Invoice records with an open balance for the customer based on the `identifier` provided,\nlimited to 100 records at a time.<br><br>A consumer should store the last `watermark` value of each\nresponse and include it as the watermark parameter for subsequent calls.\n","tags":["Customers"],"parameters":[{"name":"identifier","in":"path","required":true,"description":"`identifier` of the customer record.\n","schema":{"type":"string"}},{"name":"watermark","in":"query","description":"The value to base a subsequent extract of the next 100 items.","schema":{"$ref":"#/components/schemas/Watermark"}},{"name":"list","in":"query","description":"See Watermark & Limit for more information on response structure.","schema":{"type":"boolean","example":true}}],"responses":{"200":{"description":"Successful Operation","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"number":{"type":"string","description":"Invoice number, unique within a supplier."},"display_number":{"type":"string","description":"Invoice number as displayed to customers."},"currency":{"type":"string","description":"Currency code, based on ISO-4217, in lowercase. E.g. `cad`, `usd`, `aud`"},"amount_cents":{"type":"integer","description":"The invoice amount in cents."},"owing_cents":{"type":"integer","description":"Balance remaining on this invoice or credit memo."},"customer_identifier":{"type":"string","description":"Unique identifier for customer."},"watermark":{"$ref":"#/components/schemas/Watermark"}}}},"example":{"open_invoices":[{"number":"sh763-h3454-dh3432","display_number":"INV1234","currency":"usd","amount_cents":40000,"owing_cents":30000,"customer_identifier":"CUS001","watermark":8123612},{"number":"pq7d2-h3124-jl3937","display_number":"INV5678","currency":"usd","amount_cents":-10000,"owing_cents":-10000,"customer_identifier":"CUS001","watermark":8123615}]}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"},"412":{"$ref":"#/components/responses/PreconditionFailed"}}}},"/api/invitations":{"post":{"summary":"Issue an invitation","description":"Issue a new contact invitation for the specified customer.  The recipient of the invitation will begin to receive other Collaborative AR notifications, subject to the configuration of the supplier.\n\n*Note:* If the provided email is not an existing contact of the specified customer, a new contact will be created.\n","tags":["Customers"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["identifier","email"],"properties":{"identifier":{"type":"string","description":"the `identifier` of the customer to invite the contact to","example":"CUS001"},"email":{"type":"string","description":"Contact email address.","example":"bob.smith@example.com"}}}}}},"responses":{"200":{"description":"Successfully Invited","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/UnauthorizedError"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFoundError"}}},"delete":{"summary":"Cancel an invitation","description":"Cancel an existing contact invitation for the specified customer.\n\n*Note:* `403` will be returned if the specified customer is closed, or if the specified email was invited by a customer user\n","tags":["Customers"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["identifier","email"],"properties":{"identifier":{"type":"string","description":"the `identifier` of the customer to cancel the invitation for","example":"CUS001"},"email":{"type":"string","description":"Contact email address.","example":"bob.smith@example.com"}}}}}},"responses":{"200":{"description":"Invitation Successfully Cancelled","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/UnauthorizedError"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFoundError"}}}},"/api/imports/customers/{identifier}/update_identifier":{"post":{"summary":"Update Customer Identifier","description":"Update a customer's identifier and any associations where identifier is being stored. <br><br> *Note:* `412` will be returned if the specified customer cannot be found or the identifier has already been taken.\n","tags":["Customers"],"parameters":[{"name":"identifier","in":"path","required":true,"description":"`identifier` of the customer to be updated.\n","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"required":["new_identifier"],"properties":{"new_identifier":{"type":"string","description":"Customer's new identifier to be used. Must be unique within supplier.","example":"CUS-1001"}}}}}},"responses":{"200":{"description":"Customer Successfully Updated.","content":{"application/json":{"schema":{"properties":{"message":{"type":"string","description":"Message indicating update successful.","example":"customer identifier updated"},"identifier":{"type":"string","description":"Customer's new identifier.","example":"CUS-1001"}}}}}},"412":{"description":"Precondition failed.","content":{"application/json":{"schema":{"properties":{"importer":{"type":"string","description":"stringified json message containing error.","example":"{:customer=>[\"not found.\"]}"}}}}}}}}},"/api/imports/invoice":{"post":{"summary":"Create and Update Invoice","description":"Create and update invoices. If the invoice already exists when a request is processed, it will be updated. If attachment is provided, will include the document in the invoice.<br><br>\nThe set of attributes to send in the request body may vary based on the account configuration. Please contact the implementation specialist for more information.<br><br>\n*Note:*\n  * *Customer will be created/updated using the customer_&ast; attributes if necessary at time of invoice import.*\n  * *Any additional non-standard attribute will be stored with invoice record and available for presentment rendering.*\n","tags":["Invoices"],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Invoice"}}}},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"type":"object","properties":{"identifier":{"type":"string","example":"INV002"},"message":{"type":"string","example":"1 invoice 1 line items"},"pay_url":{"type":"string","example":"https://secure.versapay.com/pay/a25f5d86-552a-4868-907e-e3a5932cff36"},"pay_urls":{"$ref":"#/components/schemas/PaymentUrls"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"412":{"$ref":"#/components/responses/PreconditionFailed"}}}},"/api/imports/invoice/{invoice_number}/attachment":{"post":{"summary":"Add Invoice Attachment","description":"Add or update a PDF attachment to an existing invoice. The attachment will be included with the invoice and available for customer viewing.<br><br>\nThe attachment content must be provided as a base64 encoded string. This endpoint is subject to rate limiting and file size restrictions.<br><br>\n### Size Limit\nThe file cannot exceed 25MB.\n","tags":["Invoices"],"parameters":[{"name":"invoice_number","in":"path","required":true,"description":"Invoice `number` or `display_number` of the existing invoice, must align with find_by locator.\n","schema":{"type":"string","example":"INV-NUMBER-1234"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["find_by","file_name","content"],"properties":{"find_by":{"type":"string","description":"Specifies how to match the invoice identifier in the path parameter.\n","enum":["number","display_number"],"example":"number"},"invoice_display":{"type":"boolean","description":"When `true`, the attachment will be displayed as the primary invoice document. When `false` or omitted, the attachment will be included as a supplementary document.\n","default":true,"example":true},"file_name":{"type":"string","description":"Name of the attachment file. Should include the file extension (e.g., .pdf).\n","example":"INV-NUMBER-1234.pdf","maxLength":255},"content":{"type":"string","description":"Base64 encoded content of the PDF attachment. The decoded content cannot exceed 25MB.\n","example":"JVBERi0xLjQKJdPr6eEKMSAwIG9iago8PAovVHlwZSAvQ2F0YWxvZwovUGFnZXMgMiAwIFIKPj4KZW5kb2JqCjIgMCBvYmoKPDwKL1R5cGUgL1BhZ2VzCi9LaWRzIFszIDAgUl0KL0NvdW50IDEKPD4KZW5kb2JqCjMgMCBvYmoKPDwKL1R5cGUgL1BhZ2UKL1BhcmVudCAyIDAgUgovTWVkaWFCb3ggWzAgMCA2MTIgNzkyXQovUmVzb3VyY2VzIDw8Ci9Gb250IDw8Ci9GMSA0IDAgUgo+Pgo+PgovQ29udGVudHMgNSAwIFIKPj4KZW5kb2JqCjQgMCBvYmoKPDwKL1R5cGUgL0ZvbnQKL1N1YnR5cGUgL1R5cGUxCi9CYXNlRm9udCAvSGVsdmV0aWNhCj4+CmVuZG9iago1IDAgb2JqCjw8Ci9MZW5ndGggNDQKPj4Kc3RyZWFtCkJUCi9GMSA4IFRmCjEwIDcwIFRkCihIZWxsbyBXb3JsZCkgVGoKRVQKZW5kc3RyZWFtCmVuZG9iago="}}},"examples":{"add_primary_attachment":{"summary":"Add attachment as primary invoice display using invoice number as the basis for lookup/matching","value":{"find_by":"number","invoice_display":true,"file_name":"INV-NUMBER-1234.pdf","content":"JVBERi0xLjQKJdPr6eEKMSAwIG9iago8PAovVHlwZSAvQ2F0YWxvZwovUGFnZXMgMiAwIFIKPj4KZW5kb2JqCjIgMCBvYmoKPDwKL1R5cGUgL1BhZ2VzCi9LaWRzIFszIDAgUl0KL0NvdW50IDEKPD4KZW5kb2JqCjMgMCBvYmoKPDwKL1R5cGUgL1BhZ2UKL1BhcmVudCAyIDAgUgovTWVkaWFCb3ggWzAgMCA2MTIgNzkyXQovUmVzb3VyY2VzIDw8Ci9Gb250IDw8Ci9GMSA0IDAgUgo+Pgo+PgovQ29udGVudHMgNSAwIFIKPj4KZW5kb2JqCjQgMCBvYmoKPDwKL1R5cGUgL0ZvbnQKL1N1YnR5cGUgL1R5cGUxCi9CYXNlRm9udCAvSGVsdmV0aWNhCj4+CmVuZG9iago1IDAgb2JqCjw8Ci9MZW5ndGggNDQKPj4Kc3RyZWFtCkJUCi9GMSA4IFRmCjEwIDcwIFRkCihIZWxsbyBXb3JsZCkgVGoKRVQKZW5kc3RyZWFtCmVuZG9iago="}},"add_supplementary_attachment":{"summary":"Add attachment as supplementary document using invoice display number as the basis for lookup/matching","value":{"find_by":"display_number","invoice_display":false,"file_name":"supporting_docs.pdf","content":"JVBERi0xLjQKJdPr6eEKMSAwIG9iago8PAovVHlwZSAvQ2F0YWxvZwovUGFnZXMgMiAwIFIKPj4KZW5kb2JqCjIgMCBvYmoKPDwKL1R5cGUgL1BhZ2VzCi9LaWRzIFszIDAgUl0KL0NvdW50IDEKPD4KZW5kb2JqCjMgMCBvYmoKPDwKL1R5cGUgL1BhZ2UKL1BhcmVudCAyIDAgUgovTWVkaWFCb3ggWzAgMCA2MTIgNzkyXQovUmVzb3VyY2VzIDw8Ci9Gb250IDw8Ci9GMSA0IDAgUgo+Pgo+PgovQ29udGVudHMgNSAwIFIKPj4KZW5kb2JqCjQgMCBvYmoKPDwKL1R5cGUgL0ZvbnQKL1N1YnR5cGUgL1R5cGUxCi9CYXNlRm9udCAvSGVsdmV0aWNhCj4+CmVuZG9iago1IDAgb2JqCjw8Ci9MZW5ndGggNDQKPj4Kc3RyZWFtCkJUCi9GMSA4I
[...]
